# Q1 Patterns:

In [5]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [8]:
for i in range(1,6):
    print(f"{i}"*i)

1
22
333
4444
55555

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print(f"{j}", end = "")
    print("")

1
12
123
1234
12345

In [8]:
k=2
x=0
flag=0
for i in range(1,6):
    for j in range(1,i+1):
        print(f"{k} ", end = "")
        if (i!=1 and j==2):
            x=k
            flag=1
        k+=1
    if flag==1:
        k=x
    print("")

2
3 4
4 5 6
5 6 7 8
6 7 8 9 10

In [10]:
for i in range(1,6):
    for j in range(1,i+1):
        print(f"{j%2}", end = "")
    print("")

1
10
101
1010
10101

In [25]:
k=1
for i in range(1,6):
    for j in range(1, i+1):
        print(f"{k}", end=" ")
        k+=1
    print("")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [53]:
for i in range(1,6):
    j=1
    k=6
    while(j<i+1):
        print(f"{k-1}", end="")
        k-=1
        j+=1
    print("")

5
54
543
5432
54321

In [29]:
n=6

for i in range(1,6):
    j=n-i;
    print(f"{j}"*i)

5
44
333
2222
11111

In [59]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [87]:
j=0
for i in range(5,0,-1):
    print(f"{j+1}"*i)
    j+=1

11111
2222
333
44
5

In [94]:
for i in range(6,0,-1):
    for j in range(1, i):
        print(f"{j}", end="")
    print("")

12345
1234
123
12
1

In [95]:
j=6
for i in range(5,0,-1):
    
    print(f"{j-1}"*i)
    j-=1

55555
4444
333
22
1

In [105]:
for i in range(6,0,-1):
    for j in range(1,i):
        print(f"{6-j}", end="")
    print("")

54321
5432
543
54
5

# Q2 Patterns

In [136]:
i=1
while (i<=11):
    s="*"*i
    print(s.center(21))
    i+=2

          *
         ***
        *****
       *******
      *********
     ***********

In [44]:
n=int(input("Enter the number of rows: "))
for i in range(n):
    for j in range (0, n-1-i):
        print(" ", end="")
    for j in range (0, 2*i+1):
        print(f"{i+1}", end="")
    print("")

Enter the number of rows: 5
    1
   222
  33333
 4444444
555555555

In [47]:
n=int(input("Enter the number of rows: "))
for i in range(n):
    for j in range (0, n-1-i):
        print(" ", end="")
    for j in range (1, (2*i+1)+1):
        print(f"{j}", end="")
    print("")

Enter the number of rows: 5
    1
   123
  12345
 1234567
123456789

In [30]:
i=1
while (i<=11):
    s="* "*i
    print(s.center(21))
    i+=2

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *

# Q3)

In [33]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765

In [37]:
for i in range(1,6):
    n=6
    st=""
    for j in range(2*i, 1, -1):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345

In [13]:
n=6
for i in range(n-1, 0, -1):
    for j in range (0, n-(i+1)):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print("*", end="")
    print("")

*********
 *******
  *****
   ***
    *

In [79]:
n=int(input("Enter the number of rows: "))
for i in range(n, 0, -1):
    for j in range (0, n-(i+1)+1):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print(f"{i}", end="")
    print("")

Enter the number of rows: 5
555555555
 4444444
  33333
   222
    1

In [80]:
n=int(input("Enter the number of rows: "))
for i in range(n, 0, -1):
    for j in range (0, n-(i+1)+1):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print(f"{j+1}", end="")
    print("")

Enter the number of rows: 5
123456789
 1234567
  12345
   123
    1

In [49]:
for i in range(5,0,-1):
    n=4
    st=""
    for j in range(2*i, 1, -1):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))
    n-=1

567898765
 5678765
  56765
   565
    5

In [59]:
n=4
for i in range(5,0,-1):
    k=n
    st=""
    for j in range(2*i, 1, -1):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))
    k-=1
    n=k

567898765
 4567654
  34543
   232
    1

# Q4

In [85]:
n=int(input("Enter the number of rows: "))
for i in range(n):
    for j in range (0, n-1-i):
        print(" ", end="")
    for j in range (0, 2*i+1):
        print("*", end="")
    print("")
for i in range(n-1, 0, -1):
    for j in range (0, n-(i+1)+1):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print("*", end="")
    print("")

Enter the number of rows: 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [89]:
n=int(input("Enter the number of rows: "))
for i in range(n):
    for j in range (0, n-1-i):
        print(" ", end="")
    for j in range (0, 2*i+1):
        print(f"{i+1}", end="")
    print("")
for i in range(n-1, 0, -1):
    for j in range (0, n-(i+1)+1):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print(f"{i}", end="")
    print("")

Enter the number of rows: 5
    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [91]:
n=int(input("Enter the number of rows: "))
for i in range(n):
    for j in range (0, n-1-i):
        print(" ", end="")
    for j in range (0, 2*i+1):
        print(f"{j+1}", end="")
    print("")
for i in range(n-1, 0, -1):
    for j in range (0, n-(i+1)+1):
        print(" ", end="")
    for j in range (0, (2*i)-1):
        print(f"{j+1}", end="")
    print("")

Enter the number of rows: 5
    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [97]:
n=int(input("Enter the number of rows for the square: "))
for i in range(n):
    print("*"*n)

Enter the number of rows for the square: 7
*******
*******
*******
*******
*******
*******
*******

In [99]:
n=int(input("Enter the number of rows for the square: "))
for i in range(0, n):
    if i==0 or i==n-1:
        print("*"*n)
    else:
        print("*", end="")
        for j in range(0, n-2):
            print(" ", end="")
        print("*")

Enter the number of rows for the square: 7
*******
*     *
*     *
*     *
*     *
*     *
*******

In [136]:
n=int(input("Enter the number of rows: "))
s=""
for i in range(n-1, -1, -1):
    for j in range(n-(i+1), -1, -1):
        s+="*"
    s+="\\"
    for j in range((2*i)-1, 0, -1):
        s+="*"
    if (i!=0):
        s+="/"
    for j in range(n-(i+1), -1, -1):
        s+="*"
    s+="\n"
n1=n-1
for i in range(0, n1):
    for j in range(n1-(i+1), -1, -1):
        s+="*"
    s+="/"
    for j in range(0, (2*i)+1):
        s+="*"
    s+="\\"
    for j in range(n1-(i+1), -1, -1):
        s+="*"
    s+="\n"
print(f"{s:-^}")

Enter the number of rows: 6
*\*********/*
**\*******/**
***\*****/***
****\***/****
*****\*/*****
******\******
*****/*\*****
****/***\****
***/*****\***
**/*******\**
*/*********\*

# Q5

In [122]:
i=1
while (i<=10):
    s=".|."*i
    print(s.center(33, '-'))
    i+=2
wel="Welcome"
print(wel.center(33, '-'))
i=9
while (i>=1):
    s=".|."*i
    print(s.center(33, '-'))
    i-=2

---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------Welcome-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [106]:
for i in range(1,10):
    n=107
    st=""
    for j in range(2*i, 1, -1):
        if j<=i:
            n=n+1
        else:
            n=n-1
        if i==10 and j==1:
            st=st+chr(n)
        else:
            st=st+chr(n)+"-"
    print(st.center(37, '-'))
for i in range(10,0,-1):
    n=107
    st=""
    for j in range(2*i, 1, -1):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+chr(n)+"-"
    print(st.center(37, '-'))
    n-=1

------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j-
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------